OPSWATCH_HOST=0.0.0.0
OPSWATCH_PORT=8765
OPSWATCH_ADMIN_USERNAME=admin1
OPSWATCH_ADMIN_PASSWORD=admin1
OPSWATCH_TELEGRAM_TOKEN=
OPSWATCH_TELEGRAM_API_URL=
OPSWATCH_PUBLIC_URL=
OPSWATCH_DATABASE_URL=
OPSWATCH_SECRET_KEY=
OPSWATCH_DATA_DIR=
OPSWATCH_LOG_LEVEL=INFO
